@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&family=Permanent+Marker&family=Signika:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
.navDropdown {
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Ccircle fill='rgb(234, 234, 241)' cx='3' cy='3' r='1.5'/%3E%3C/svg%3E");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
}

* {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

/* [
    {
       files {} 
    },
    {},
    {}
]

ls | cat > out | < in cat

[7, 1] */